
h1 {
  font-style: oblique;
  color: inherit;
}
#spacer-Nav-Content {
margin-top: 100px;
background-color: #008555;
height: 20px
}
.carousel-caption {
background-color: rgba(0,0,0,0.5);
}

#row1 {
background-color: #bababa;

}
#row7 {
background-color: #e5e5e5;
}

#footer_logo {
height: 125px;
background-color: #008555;
padding-top: 25px;
text-align: center;
text-decoration: none;
text-decoration-color: white;
}

#Copy-right{
color: white;
}
